.single-message-div {
    width: 30%;
    padding: 8px;
    margin: 6px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.clear {
    padding: 20px;
    background-color: rgb(255, 89, 89);
    text-transform: uppercase;
    color: white;
    font-weight: bold;
    border-radius: 8px;
    margin-bottom: 30px;
}